.Personal {
  .Contents {
    .Foto {
      .FotoPicture {
      }
      .FotoButtons {
        position: relative;
        input[type='file'] {
          opacity: 0;
          position: absolute;
          width: 1px;
          height: 1px;
          pointer-events: none;
        }
      }
    }
    .Form {
      .FormContents {
        
      }
    }
  }
  .Buttons {
  }
}
